/* Mediam Laptop */

@media all and (min-width: 200px) and (max-width: 1200px) {
    .container {
        width: 970px;
    }
}

/* Large tablet */

@media all and (min-width: 200px) and (max-width: 991px) {
    .container {
        width: 750px;
    }

    #header_section .left_header_box a {
        font-size: 20px;
    }

    #header_section .right_header_box ul li a {
        padding: 5px 9px;
    }

    #banner_section .banner_content h1 {
        font-size: 41px;
    }

    #banner_section .banner_content .banner_button a:hover {
        letter-spacing: 3px;
        transform: scale(1.1);
    }

    #service_section .service_child_box .service_card {
        width: 48%;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
}

/* Mediam Tablet */

@media all and (min-width: 200px) and (max-width: 768px) {
    .container {
        width: 460px;
    }

    #header_section .left_header_box {
        float: none;
        width: 100%;
        text-align: center;
    }

    #header_section .right_header_box {
        float: none;
        width: 100%;
    }

    #header_section .right_header_box {
        float: none;
        width: 100%;
        margin-top: 20px;
    }

    #header_section .right_header_box ul {
        text-align: center;
    }

    #header_section .right_header_box ul li a::after {
        display: none;
    }

    #banner_section .banner_content h1 {
        font-size: 36px;
    }

    #service_section .service_child_box .service_card {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }

    #about_section .about_child_box .about_left_box {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    #about_section .about_child_box .about_right_box {
        float: none;
        width: 100%;
    }

    .contact_card {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .contact_card i {
        color: #22c3a3;
        margin-bottom: 10px;
        font-size: 20px;
    }

    #top_footer_section .footer_top i {
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;
    }
}

/* Large Mobile */

@media all and (min-width: 200px) and (max-width:480px) {
    .container {
        width: 300px;
    }

    #header_section .left_header_box {
        float: left;
        width: 50%;
        text-align: left;
    }

    #header_section .right_header_box {
        float: right;
        width: 50%;
        text-align: right;
        margin-top: 0;
    }

    #header_section .right_header_box input {
        opacity: 1;
        visibility: visible;
        height: 30px;
        width: 30px;
        opacity: 0;
    }

    #header_section .right_header_box span {
        opacity: 1;
        visibility: visible;
        color: #fff;
        font-size: 22px;
        pointer-events: none;
        position: absolute;
        right: 11%;
    }

    #header_section .right_header_box ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }

    #header_section .right_header_box input:checked ~ ul {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    #header_section .right_header_box ul li {
        display: block;
        margin-left: 0%;
    }

    #header_section .left_header_box a {
        font-size: 19px;
    }

    #banner_section .banner_content h1 {
        font-size: 31px;
    }

    #banner_section .banner_content h4 {
        color: #cef2e9;
        font-weight: 500;
        margin-bottom: 30px;
    }
}

/* Small Mobile */

@media all and (min-width: 200px) and (max-width:320px) {
    .container {
        width: 250px;
    }

    #header_section .left_header_box a {
        font-size: 16px;
    }

    #banner_section .banner_content h1 {
        font-size: 26px;
    }
}